.App {
  background-color: #111827;
  background-image: radial-gradient(
      at 47% 33%,
      hsl(23, 100%, 65%),
      transparent 59%
    ),
    radial-gradient(at 82% 65%, hsl(188, 100%, 42%), transparent 55%);
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}
